@keyframes fadeInSplash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#splashscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;
}
#splashscreen h1 {
  color: white;
  letter-spacing: 6px;
  opacity: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  animation: fadeInSplash 0.25s forwards;
  animation-delay: 0.25s;
  border: 1px solid white;
  padding: 20px 35px;
  text-align: center;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  #splashscreen h1 {
    letter-spacing: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  transition: 0.75s all ease;
}
body a {
  transition: 0.8s all ease-in;
}
body a:hover {
  transition: 0.5s all ease-in-out;
}
body .navbar {
  transition: 0.75s all ease;
}
body nav.navbar {
  padding: 5px 0;
  margin: 0 auto;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
@media screen and (min-width: 768px) {
  body nav.navbar {
    border-bottom: none;
  }
}
@media screen and (min-width: 992px) {
  body nav.navbar {
    padding: 30px 0;
    background: transparent;
    width: auto;
    position: initial;
  }
}
body nav.navbar .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.375);
  border-radius: 0;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  body nav.navbar .navbar-toggler {
    margin-right: 0;
  }
}
body nav.navbar .navbar-toggler .navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav.navbar .navbar-toggler:focus, body nav.navbar .navbar-toggler:focus-within {
  outline: 0;
}
body nav.navbar a {
  color: black;
}
body nav.navbar a:hover {
  color: rgba(0, 0, 0, 0.66);
}
body nav.navbar a.navbar-brand {
  margin: 0 auto;
}
body nav.navbar a h1, body nav.navbar a p {
  color: rgba(0, 0, 0, 0.375);
  border: 1px solid rgba(0, 0, 0, 0.375);
  padding: 7px 10px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  body nav.navbar a h1, body nav.navbar a p {
    padding: 10px 25px;
  }
}
body nav.navbar a h1 {
  margin-bottom: 0;
  transition: 0.5s all ease;
}
body nav.navbar a h1:hover {
  color: black;
  border-color: black;
}
@media screen and (min-width: 992px) {
  body nav.navbar .nav-desktop {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
body nav.navbar .nav-desktop ul {
  margin: 0 auto;
  text-align: center;
  max-width: 300px;
}
@media screen and (min-width: 992px) {
  body nav.navbar .nav-desktop ul {
    margin-left: 75%;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  body nav.navbar .nav-desktop ul {
    max-width: none;
  }
}
body nav.navbar .nav-desktop ul li {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
}
body nav.navbar .nav-desktop ul li a {
  padding-bottom: 10px;
}
body nav.navbar .nav-desktop ul li a:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  margin-top: 5px;
  background: transparent;
  transition: 0.3s all ease;
}
body nav.navbar .nav-desktop ul li a:hover:after {
  width: 100%;
  background: black;
  transition: 0.5s all ease;
}
body nav.navbar .nav-desktop ul li a.active:after {
  width: 100%;
  background: black;
}
body.scroll {
  background-color: #2a2a2a;
  transition: 0.75s all ease;
}
body.scroll nav.navbar a {
  color: white;
}
body.scroll nav.navbar a:after {
  background: white !important;
}
body.scroll nav.navbar a.active:after {
  width: 100%;
  background: white;
}
body.scroll .navbar {
  background-color: #191919;
  color: white;
  transition: 0.75s all ease;
}
body.scroll .navbar h1 {
  color: white;
  border-color: white;
}
body.scroll .navbar button {
  color: white;
  border-color: white;
}
body.scroll .website-section a.site-work {
  font-family: "Lato", sans-serif;
  background: transparent;
  padding: 0;
  border: 1px solid white;
  color: white;
  text-align: center;
  height: 250px;
  margin-bottom: 8.333333%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.5s all ease;
}
body.scroll .website-section a.site-work:hover {
  text-decoration: none;
  background: white;
  color: black;
  transition: 0.5s all ease;
}
body.scroll .website-section a.site-work span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}
body.end {
  background-color: #8a0000;
  transition: 0.75s all ease;
}
body.end nav.navbar a {
  color: black;
}
body.end nav.navbar a:after {
  background: black !important;
}
body.end nav.navbar a.active:after {
  width: 100%;
  background: black;
}
body.end .website-section a.site-work {
  font-family: "Lato", sans-serif;
  background: transparent;
  padding: 0;
  border: 1px solid white;
  color: white;
  text-align: center;
  height: 250px;
  margin-bottom: 8.333333%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.5s all ease;
}
body.end .website-section a.site-work:hover {
  text-decoration: none;
  background: white;
  color: black;
  transition: 0.5s all ease;
}
body.end .website-section a.site-work span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}
body .logo-section {
  text-align: center;
  text-transform: uppercase;
}
body .logo-section h1 {
  color: black;
  font-size: 1em;
}
body .logo-section h1, body .logo-section span.tagline {
  color: white;
  letter-spacing: 2px;
  display: block;
}
@media screen and (min-width: 360px) {
  body .logo-section h1, body .logo-section span.tagline {
    letter-spacing: 6px;
  }
}
@media screen and (min-width: 768px) {
  body .logo-section h1, body .logo-section span.tagline {
    letter-spacing: 12px;
  }
}
body .jumbotron {
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
  transition: 0.5s all ease;
}
@media screen and (min-width: 992px) {
  body .jumbotron {
    background-size: 600px;
    transition: 0.5s all ease;
  }
}
@media screen and (min-width: 1200px) {
  body .jumbotron {
    background-size: 700px;
    transition: 0.5s all ease;
  }
}
@media screen and (min-width: 1400px) {
  body .jumbotron {
    background-size: contain;
    transition: 0.5s all ease;
  }
}
body .jumbotron.main-banner {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  body .jumbotron.main-banner {
    height: 500px;
  }
}
@media screen and (min-width: 992px) {
  body .jumbotron.main-banner {
    height: 100%;
    max-height: 900px;
  }
}
body .jumbotron .content {
  width: 100%;
}
@media screen and (min-width: 992px) {
  body .jumbotron .content {
    width: 40%;
  }
}
body .jumbotron .content .logo-section h1 {
  color: white;
}
body .jumbotron .content.description {
  padding: 15px;
}
@media screen and (min-width: 768px) {
  body .jumbotron .content.description {
    padding: 15px 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.375);
  }
}
body .jumbotron .content.description p {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0;
}
body .jumbotron h1 {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 2.5em;
}
@media screen and (min-width: 576px) {
  body .jumbotron h1 {
    font-size: 3.5em;
  }
}
body .jumbotron h2 {
  line-height: 2em;
  font-size: 1.25em;
  color: white;
}
body .jumbotron span.tagline {
  font-size: 1.25em;
  letter-spacing: 8px;
  text-transform: uppercase;
}
@media screen and (min-width: 576px) {
  body .jumbotron span.tagline {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  body .jumbotron {
    min-height: 800px;
  }
}
body img.story-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  filter: grayscale(1);
  transition: 0.5s all ease;
}
@media screen and (min-width: 576px) {
  body img.story-img {
    max-width: 75%;
  }
}
@media screen and (min-width: 982px) {
  body img.story-img {
    max-width: 50%;
  }
}
body img.story-img:hover {
  filter: grayscale(0);
  box-shadow: 0px 7px 15px -10px black;
  transition: 0.5s all ease;
}
body #bio,
body #bio-2 {
  background-color: transparent;
}
body #bio h2,
body #bio-2 h2 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
}
body #bio p,
body #bio-2 p {
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
}
body #bio p a,
body #bio-2 p a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.375);
  transition: 0.5s all ease;
}
body #bio p a:hover,
body #bio-2 p a:hover {
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.66);
  transition: 0.5s all ease;
}
body .website-section a.site-work {
  font-family: "Lato", sans-serif;
  background: transparent;
  padding: 0;
  border: 1px solid black;
  color: black;
  text-align: center;
  height: 250px;
  margin-bottom: 8.333333%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.5s all ease;
}
body .website-section a.site-work:hover {
  text-decoration: none;
  background: black;
  color: white;
  transition: 0.5s all ease;
}
body .website-section a.site-work span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}
body .contact-section .content {
  padding: 15px 30px;
}
body .contact-section .jumbotron {
  display: block;
}
@media screen and (max-width: 767px) {
  body .contact-section .jumbotron {
    margin: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  body .contact-section .jumbotron {
    display: flex;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  body .contact-section .jumbotron {
    height: calc(100vh - 150px);
  }
}
body .contact-section h2 {
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}
@media screen and (min-width: 992px) {
  body .contact-section h2 {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 50%;
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  body .contact-section ul.socials {
    padding: 0;
  }
}
body .contact-section ul li {
  font-family: "Lato", sans-serif;
  color: white;
  list-style: none;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (min-width: 576px) {
  body .contact-section ul li {
    letter-spacing: 5px;
  }
}
body .contact-section ul li i {
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 2em;
  display: block;
}
@media screen and (min-width: 768px) {
  body .contact-section ul li i {
    display: inline-block;
    margin-bottom: 0;
  }
}
body .contact-section ul li a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 10px;
}
body .contact-section ul li a:hover {
  text-decoration: none;
  border-color: white;
  transition: 0.5s all ease;
}
body footer {
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center;
  padding: 40px 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
body footer span {
  display: block;
  font-size: 12px;
  margin-bottom: 15px;
}
body footer span a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 5px;
}
body footer span a:hover {
  border-color: white;
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
