$fadedGrey : rgba(0,0,0,0.375);
$fadedGreyHover : rgba(0,0,0,0.66);

@keyframes fadeInSplash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#splashscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;

  h1 {
    color: white;
    letter-spacing: 6px;
    opacity: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    animation: fadeInSplash 0.25s forwards;
    animation-delay: 0.5s;
    padding: 20px 35px;
    text-align: center;
    line-height: 1.5em;

    @media screen and (min-width: 768px) {
      letter-spacing: 12px;
      animation-delay: 0.25s;
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost', sans-serif;
  transition: 0.75s all ease;

  a {
    transition: 0.8s all ease-in;

    &:hover {
      transition: 0.5s all ease-in-out;
    }
  }

  .navbar {
    transition: 0.75s all ease;
  }

  nav.navbar {
    padding: 5px 0;
    margin: 0 auto;
    position: fixed;
    background: white;
    // background: rgba(255,255,255,0.5);
    // -webkit-backdrop-filter: blur(20px);
    // backdrop-filter: blur(20px);
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

    @media screen and (min-width:768px) {
      border-bottom: none;
    }

    @media screen and (min-width:992px) {
      padding: 30px 0;
      background: transparent;
      width: auto;
      position: initial;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }

    .navbar-toggler {
      // border-color: $fadedGrey;
      border-radius: 0;
      margin-right: 20px;

      @media screen and (min-width: 768px) {
        margin-right: 0;
      }

      .navbar-toggler-icon {
        display: inline;
        align-items: center;
        justify-content: center;
        width: 2em;

        .line {
          background: black;
          height: 4px;
          width: 1.25em;
          margin: 3.33px 0;
          display: block;
          transition: 0.5s all ease;

          &:nth-of-type(2) {
            width: 1.75em;
            float: right;
          }
        }

        @media screen and (min-width: 992px) {
          &:hover {
            transition: 0.5s all ease;
            .line {
              width: 1.25em;
    
              &:nth-of-type(2) {
                width: 1.75em;
              }
            }
          }
        }
        
      }

      &:focus,
      &:focus-within {
        outline: 0;
      }

      &.collapsed {
        transition: 0.5s all ease;
        
        .line {
          width: 1.75em;

          &:nth-of-type(2) {
            width: 1.25em;
          }
        }
      }
    }

    a {
      color: black;
      
      @media screen and (min-width: 992px) {
        color: black;
      }

      &:hover {
        color: $fadedGreyHover;
      }

      &.navbar-brand {
        // margin: 0 auto;
        margin-left: 10px;
      }

      h1, p {
        color: $fadedGrey;
        // border: 1px solid $fadedGrey;
        padding: 7px 10px;
        text-align: center;

        @media screen and (min-width: 576px) {
          padding: 10px 25px;
        }
      }

      h1 {
        margin-bottom: 0;
        transition: 0.5s all ease;
        &:hover {
          color: black;
          border-color: black;
        }
      }
    }

    .nav-desktop {
      height: calc(100vh - 53px);
      display: flex;
      position: absolute;
      top: 53px;
      left: 100%;
      z-index: 100;
      width: 100%;
      background: #fff;
      transition: 0.5s all ease;

      @media screen and (min-width: 576px) {
        height: calc(100vh - 64px);
        top: 64px;
      }

      &.show {
        left: 0;
        transition: 0.5s all ease;
      }

      @media screen and (min-width: 992px) {
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        background: transparent;
        width: inherit;
      }

      ul {
        margin: 0 auto;
        margin-top: -53px;
        text-align: center;
        max-width: 300px;

        @media screen and (min-width: 576px) {
          margin-top: -64px;
        }

        @media screen and (min-width: 992px) {
          margin-left: 75%;
          margin-top: 0;
          text-align: left;
          background: white;
        }

        @media screen and (min-width: 1200px) {
          max-width: none;
        }

        li {
          text-transform: uppercase;
          letter-spacing: 3px;
          padding: 10px;

          a {
            padding-bottom: 10px;
            font-weight: 600;

            &:after {
              content: '';
              display: block;
              height: 2px;
              width: 0;
              margin-top: 5px;
              background: transparent;
              transition: 0.3s all ease;
            }

            &:hover {
              &:after {
                width: 100%;
                background: white;
                transition: 0.5s all ease;

                @media screen and (min-width: 768px) {
                  background: black;
                }
              }
            }

            &.active {
              &:after {
                width: 100%;
                background: black;
              }
            }
          }
        }
      }
    }
  }

  &.scroll {
    background-color: #2a2a2a;
    transition: 0.75s all ease;

    @media screen and (min-width: 992px) {
      nav.navbar a {
        color: white;

        &:after {
          background: white !important;
        }

        &.active {
          &:after {
            width: 100%;
            background: white;
          }
        }
      }
    }
    

    .navbar {
      background-color: #191919;
      color: white;
      transition: 0.75s all ease;

      h1 {
        color: white;
        border-color: white;
      }

      button {
        color: white;
      }

      ul {
        @media screen and (min-width: 992px) {
          background: #2a2a2a !important;
          transition: 0.75s all ease;
        }
      }

      .navbar-toggler-icon {
        .line {
          background: white !important;
        }
      }
    }

    #bio, #bio-2 {
      * * {
        transition: 0.5s all ease;
        border-color: rgba(255,255,255,15%) !important;
      }


      p {
        color: white;

        a {
          color: white;
        }
      }

      h3 {
        color: white;
      }

  
    }

    .website-section {
      a {
        &.site-work {
          font-family: "jost", sans-serif;
          background: transparent;
          padding: 0;
          border: 2px solid rgba(255,255,255,15%);
          color: white;
          text-align: center;
          height: 200px;
          padding: 25px;
          display: grid;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          transition: 0.5s all ease;

          @media screen and (min-width: 768px) {
            margin-bottom: 8.333333%;
          }

          &:hover {
            text-decoration: none;
            background: white;
            color: black;
            transition: 0.5s all ease;
          }

          span {
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 3px;
          }
        }
      }
    }

    .nav-desktop {
      @media screen and (max-width: 991px) {
        background: #1a1a1a !important;
      }

      a {
        color: white !important;

        &:after {
          background: white !important;
        }
      }
    }

  }

  &.end {
    background-color: #c31717;
    transition: 0.75s all ease;

    nav.navbar {
      background: white;

      @media screen and (min-width: 992px) {
        background: rgba(112, 14, 1, 0.5);

        h1 {
          color: white;
          border-color: white;
        }
  
        button {
          color: white;
        }
      }

      h1 {
        color: black;
        border-color: black;
      }

      button {
        color: black;
      }
    }

    nav.navbar a {
      @media screen and (min-width: 992px) {
        color: white;

        &:after {
          background: white !important;
        }

        &.active {
          &:after {
            width: 100%;
            background: white;
          }
        }
      }
      
    }

    nav {
      ul {
        background: transparent !important;
        transition: 0.75s all ease;
      }
    }

    .website-section {
      a {
        &.site-work {
          font-family: "jost", sans-serif;
          background: transparent;
          padding: 0;
          border: 1px solid white;
          color: white;
          text-align: center;
          height: 200px;
          padding: 25px;
          display: grid;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          transition: 0.5s all ease;

          @media screen and (min-width: 768px) {
            margin-bottom: 8.333333%;
          }

          &.upcoming {
            border: 1px solid rgba(255,255,255,0.25);
            height: 125px;
          }

          &:hover {
            text-decoration: none;
            background: white;
            color: black;
            transition: 0.5s all ease;
          }

          span {
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 3px;
          }
        }
      }
    }

    h3 {
      color: white;
      
      &.invite {
        width: 100%;
        display: block;
      }
    }

    .boxed {
      background: white;
      color: black;
    }
  }

  .cta-section {
    background: #151515;
    border: 1px solid transparent;
    padding: 50px 20px;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 0px 0px 150px -75px #272727;

    @media screen and (min-width: 768px) {
      padding: 50px;
      margin-top: 0;
    }

    h3 {
      color: white;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 1.25em;
      color: black;
    }

    a {
      color: black;
      border: 1px solid black;
      padding: 10px;
      display: grid;
      margin: 0 auto;
      width: 200px;
      text-align: center;

      &:hover {
        background: black;
        color: white;
      }
    }

    .button-section {
      display: block;
      margin-top: 35px;

      @media screen and (min-width: 1200px) {
        display: flex;
      }

      button {
        background: #1f1f1f;
        border-radius: 0;
        border: 1px solid transparent;
        color: white;
        padding: 50px 10px;
        width: 100%;
        margin: 10px 0;
        font-size: 1.25em;
        transition: 0.75s all ease;

        @media screen and (min-width: 1200px) {
          margin: 20px;
          width: 50%;

          &:hover {
            transform: scale(1.0625);
            transition: 0.25s all ease;
          }
        }

        &:hover,
        &:active {
          background-color: white !important;
          color: black;
          outline: none;
          box-shadow: none !important;
        }
      }
    }
  }

  .logo-section {
    text-align: left;
    text-transform: uppercase;

    h1 {
      color: black;
      font-size: 1em;
    }

    h1, span.tagline {
      color: black;
      display: block;
    }
  }

  .jumbotron {
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 0;
    transition: 0.5s all ease;

    @media screen and (min-width:992px) {
      background-size: 600px;
      transition: 0.5s all ease;
    }

    @media screen and (min-width:1200px) {
      background-size: 700px;
      transition: 0.5s all ease;
    }

    @media screen and (min-width:1400px) {
      background-size: contain;
      transition: 0.5s all ease;
    }

    @keyframes fadeBack {
      0% {
        filter: grayscale(1);
        background-size: 100vh;
      }
      80% {
        filter: grayscale(1);
      }
      100% {
        filter: grayscale(0);
        background-size: 75vh;
      }
    }

    &.main-banner {
      animation: fadeBack 3s forwards;
      height: 100vh;
      background-position: 32vw 0;
      background-size: 100vh;
      animation-delay: 0.5s;

      @media screen and (min-width: 768px) {
        height: 500px;
        background-position: 45vw;
      }

      @media screen and (min-width: 992px) {
        height: 100%;
        max-height: 900px;
      }

      @media screen and (min-width: 1200px) {
        background-position: right;
      }
    }

    .content {
      width: 100%;

      @media screen and (min-width: 992px) {
        width: 50%;
      }

      .logo-section{
        h1 {
          font-size: 4.5em;
          color: #ababab;

          @media screen and (min-width: 768px) {
            color: black;
          }
        }
      }

      &.description {
        padding: 15px;

        @media screen and (min-width: 768px) {
          padding: 15px 30px;
          border-left: 1px solid $fadedGrey;
        }

        p {
          font-family: 'jost', sans-serif;
          font-size: 1.5em;
          line-height: 1.5em;
          margin-bottom: 0;
        }
      }
    }

    h1 {
      font-family: 'jost', sans-serif;
      color: black;
      font-size: 2.5em;

      @media screen and (min-width: 576px) {
        font-size: 6em;
        font-weight: 700;
      }
    }

    h2 {
      line-height: 2em;
      font-size: 1.25em;
      color: white;
    }

    span.tagline {
      font-size: 1.25em;
      letter-spacing: 8px;
      text-transform: uppercase;

      @media screen and (min-width: 576px) {
        font-size: 2em;
      }
    }

    @media screen and (min-width: 768px) {
      min-height: 800px;
    }
  }

  .story-img {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    filter: grayscale(1);
    transition: 0.5s all ease;
    pointer-events: none;
    box-shadow: 0px 0px 150px -75px #27272791;

    &:hover {
      filter: grayscale(0);
      transition: 0.5s all ease;
    }
  }

  #bio,
  #bio-2{
    background-color: transparent;
    h2 {
      color: black;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 600;
    }

    h3 {
      font-size: 3em;
      margin-bottom: 1.5em;
      font-weight: 600;
    }

    p {
      color: black;
      font-size: 18px;
      margin-bottom: 15px;
      line-height: 2em;

      a {
        color: black;
        text-decoration: none;
        border-bottom: 1px solid $fadedGrey;
        transition: 0.5s all ease;

        &:hover {
          text-decoration: none;
          border-color: $fadedGreyHover;
          transition: 0.5s all ease;
        }
      }
    }
  }

  .website-section {
    a {
      &.site-work {
        font-family: "jost", sans-serif;
        background: transparent;
        padding: 0;
        border: 1px solid black;
        color: black;
        text-align: center;
        height: 200px;
        padding: 25px;
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 26px !important;
        transition: 0.5s all ease;

        @media screen and (min-width: 768px) {
          margin-bottom: 8.333333%;
          border-radius: 15px;
        }

        &:hover {
          text-decoration: none;
          background: black;
          color: white;
          transition: 0.5s all ease;
        }

        span {
          display: block;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 3px;
        }
      }
    }
  }

  .contact-section {
    .content {
      padding: 15px 30px;
    }

    .jumbotron {
      display: block;

      @media screen and (max-width: 767px) {
        margin: 0 auto;
        padding-bottom: 0;
      }

      @media screen and (min-width: 768px) {
        display: flex;
        height: auto;
      }

      @media screen and (min-width: 1200px) {
        height: calc(100vh - 150px);
      }
    }

    h2 {
      color: white;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 3px;

      @media screen and (min-width: 992px) {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        height: 50%;
        padding-right: 50px;
      }
    }

    ul {

      &.socials {
        @media screen and (max-width: 767px) {
          padding: 0;
        }
      }

      li {
        font-family: 'jost', sans-serif;
        color: white;
        list-style: none;
        padding: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;

        @media screen and (min-width:576px) {
          letter-spacing: 5px;
        }

        @media screen and (min-width:768px) {
          text-align: left;
        }

        i {
          margin-right: 15px;
          margin-bottom: 15px;
          font-size: 2em;
          display: block;

          @media screen and (min-width: 768px) {
            display: inline-block;
            margin-bottom: 0;
          }
        }

        a {
          color: white;
          text-decoration: none;
          border-bottom: 1px solid rgba(255,255,255,0.25);
          padding-bottom: 10px;

          &:hover {
            text-decoration: none;
            border-color: white;
            transition: 0.5s all ease;
          }
        }
      }
    }
  }

  .modal {
    .modal-header {
      border: none;
    }
    .modal-content {
      border-radius: 0;
      border: none;
      padding: 20px;

      h5 {
        font-size: 1.75em;
        font-weight: bolder;
      }

      p {
        font-size: 1em;
        text-align: left;
        font-size: 1em;
        line-height: 1.75em;
      }

      .btn-download {
        border-radius: 0;
        display: inline-block;

        i {
          margin-left: 5px;
        }
      }
    }
    .modal-footer {
      border: none;
    }
  }
  .modal-backdrop.show {
    opacity: .75;
    backdrop-filter: blur(50px);
  }

  footer {
    font-family: 'jost', sans-serif;
    color: white;
    text-align: center;
    padding: 40px 20px;
    text-transform: uppercase;
    letter-spacing: 5px;

    span {
      display: block;
      font-size: 12px;
      margin-bottom: 15px;

      a {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgba(255,255,255,0.25);
        padding-bottom: 5px;

        &:hover {
          border-color: white;
          text-decoration: none;
          color: white;
        }
      }
    }
  }

}